flows.json
[
    {
        "id": "ce4d8be9430e90b4",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2936b813.6cde68",
        "type": "ui_tab",
        "name": "Scheduler Demo",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0ef27805d5b93acb",
        "type": "ui_tab",
        "name": "Scheduler Demo",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bfe48a3e.1b0f4",
        "type": "ui_group",
        "name": "Scheduler",
        "tab": "2936b813.6cde68",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4b85237afef5586b",
        "type": "ui_group",
        "name": "Scheduler",
        "tab": "2936b813.6cde68",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "12361f82e2fa2e28",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "348022c6f150fbef",
        "type": "comment",
        "z": "ce4d8be9430e90b4",
        "name": "### This scenario is permanent and requires a file to read an write to ###",
        "info": "",
        "x": 300,
        "y": 200,
        "wires": []
    },
    {
        "id": "9ef41966138e6619",
        "type": "file",
        "z": "ce4d8be9430e90b4",
        "name": "WriteFile",
        "filename": "/home/debian/Documents/time-schedule0.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 700,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "3582bb90447d52b2",
        "type": "inject",
        "z": "ce4d8be9430e90b4",
        "name": "FireAfterReboot",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "ab7b09d08a15e22c"
            ]
        ]
    },
    {
        "id": "ab7b09d08a15e22c",
        "type": "file in",
        "z": "ce4d8be9430e90b4",
        "name": "ReadFile",
        "filename": "/home/debian/Documents/time-schedule0.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 320,
        "y": 260,
        "wires": [
            [
                "b8e47583499847cf"
            ]
        ]
    },
    {
        "id": "b8e47583499847cf",
        "type": "ui_time_scheduler",
        "z": "ce4d8be9430e90b4",
        "group": "4b85237afef5586b",
        "name": "",
        "startDay": "0",
        "refresh": 60,
        "devices": [
            "Device 1"
        ],
        "onlySendChange": false,
        "customPayload": false,
        "eventMode": false,
        "eventOptions": [],
        "sendTopic": false,
        "lat": "",
        "lon": "",
        "outputs": 2,
        "order": 1,
        "width": 0,
        "height": 0,
        "x": 490,
        "y": 260,
        "wires": [
            [
                "9ef41966138e6619"
            ],
            [
                "6e39cd3413986f35"
            ]
        ]
    },
    {
        "id": "6e39cd3413986f35",
        "type": "ui_switch",
        "z": "ce4d8be9430e90b4",
        "name": "",
        "label": "MyDevice",
        "tooltip": "",
        "group": "bfe48a3e.1b0f4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 700,
        "y": 280,
        "wires": [
            []
        ]
    }
]